<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username" value="RithmXO"/>
		<add key="Password" value="Limble2022!"/>
		<add key="ROOT_URL" value="https://gccdtpilot01.epicorsaas.com/saas1018pilot/api/v2/odata"/>
		<add key="companyID" value="79143"/>
		<add key="X-API-Key" value="U3iYqtxj5XJbdTDIPMGFizBduX98nw8ofcjTgZZ1zOTWa"/>
		
		<add key="API_POes" value="Erp.BO.POSvc/POes?"/>
		<add key="selectcols_POes" value="$select=Company,PONum,OrderDate,BuyerID,Approve,VendorVendorID,VendorName,VendorCntEmailAddress,VendorCntPhoneNum,VendorPPPrimPCon"/>
		
		<add key="API_PODetails" value="Erp.BO.POSvc/PODetails?"/>
		<add key="selectcols_PODetails" value="$select=Company,OpenLine,PONUM,POLine,LineDesc,UnitCost,CommentText,ClassID,PartNum,BaseQty,OrderQty,TotalTax"/>
		
		<add key="API_PORels" value="Erp.BO.POSvc/PORels?"/>
		<add key="selectcols_PORels" value="$select=Company,OpenRelease,PONum,POLine,PORelNum,DueDate,RelQty,Plant,TranType,ReceivedQty"/>



		<!--Limble dev-->
		<add key="limbleClientIDSandBox" value="7PIQATU7GZ3VI8OD62ENXS3RV6LGDZF"/>
		<add key="limbleClientSecretSandBox" value="UDBT3Q0D2MZDIKOQHHSEJ32KMSR43CX"/>

		


		<!--Limble production-->
		<add key="limbleClientID" value="V5446PXX4ZE3LB3FGVSH9MQNW3FWN"/>
		<add key="limbleClientSecret" value="HJZ10B5RXZT8LKOZS9065OJB3Y8NOL"/>
		<add key="limbleURL" value="https://api.limblecmms.com:443/v2"/>

		<!--Default location-->
		<add key="locationName" value="Chandler-Utah"/>
		<add key="locationPhone" value="7866238895"/>
		<add key="locationTimezone" value="America/Denver"/>
		
		<!--VendorId-->
		<add key="Location" value="32181"/>   <!--Location maintain one "Chanderl-Utah"-->
		<add key="userID" value="209727"/>     <!--User name maintain one "David@rithmxo.com"-->
		
		<!--Mango DB Connection-->
		<add key ="CollectionName" value="Vendors"/>
		<add key="ConnectionString" value="mongodb://localhost:27017"/>
		<add key="DatabaseName" value="limble_data"/>

	</appSettings>
</configuration>

